$radius: 10px;

.cards{
    border: 2px solid black;
    border-radius: $radius;
}

.img{
    border-radius: $radius $radius 0 0 ;
}

.content{

    padding: 10px;
}

.badge{
    top: 50%;
    right: 20px;
    font-size: 17px;
}

@media (min-width: 390px) and (max-width: 576px) {
    .badge{
        top: 65%;
    }

}

@media (min-width: 577px) and (max-width: 767px) {
    .badge{
        top: 73%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .badge{
        top: 60%;
    }

}

@media (min-width: 991px) and (max-width: 1199px) {
    .badge{
        top: 35%;
    }

}

@media (min-width: 1200px) and (max-width: 1399px) {
    .badge{
        top: 45%;
    }

}

@media (min-width: 1400px) and (max-width: 2000px) {
    .badge{
        top: 50%;
    }

}